@model TechnologyReview.Models.Reviews

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@


    
    <h1>Details</h1>
<div class="panel panel-default jumboSettings">
    <div class="panel-body">
        <p>
            <h1> @Html.DisplayFor(model => model.Name)</h1>
        </p>
       
        <p>
        <h4>@Html.DisplayFor(model => model.Catagory.Type)</h4>
        </p>
      @*still could not get the date to work*@
        <p>
            <h6> @Html.DisplayFor(model => model.Date)</h6>
        </p>

       
       

        <p>
            @Html.DisplayFor(model => model.ReviewDescription)
        </p>
           
</div>
    </div>
    


